#header {padding-bottom: 10px;
    color:midnightblue;
    font-size: 45px;
    text-align: center;
    background-color: rgb(50, 219, 50);
    margin: 0;
     
  
}
.header a {text-decoration: none;
color:midnightblue;}


.header-menu {text-align: right; }
.header-menu a{color: midnightblue; padding :10px; display:inline-block; font-size: 20px;}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(42, 143, 42);
}

li {
float: left;
}

li a {
display: block;
color: midnightblue;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 30px;

}
#object {
display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 150px 150px;
gap: 10px;
padding:10px;
margin-left: 0px;

}
.contents {
text-align: center

}

#object h2 {background-color: rgb(42, 143, 42);
text-align: center;
color: midnightblue;
}


#inin{
            padding:10px;
            width: 30%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);}
        
        .input-box{
            position:relative;
            margin:10px 0;
        }
        .input-box > input{
            background:transparent;
            border:none;
            border-bottom: solid 1px #ccc;
            padding:20px 0px 5px 0px;
            font-size:14pt;
            width:100%;
        }
        input::placeholder{
            color:transparent;
        }
        input:placeholder-shown + label{
            color:#aaa;
            font-size:14pt;
            top:15px;

        }
        input:focus + label, label{
            color:#8aa1a1;
            font-size:15pt;
            pointer-events: none;
            left:0px;
            top:0px;
            
        }

        input:focus, input:not(:placeholder-shown){
            border-bottom: solid 1px #8aa1a1;
            outline:none;
        }
        input[type=submit]{
            background-color: rgb(42, 143, 42);
            border:none;
            color:black;
            border-radius: 5px;
            width:100%;
            height:35px;
            font-size: 14pt;
            margin-top:100px;
        }
    

 .twoh{
padding: 15px 20px;
border-radius: 10px;
margin: auto;
width: 20%;
background-color:#c4c4c4;
text-align: center;
}


.carousel-caption {
color: black;
top: 0
}

#sign {
    padding: 15px 20px;
    border-radius: 10px;
margin: auto;
width: 375px;    
background-color: aliceblue;
}





.under {
width: 100%;
height: 90px;
bottom: 0px;
position: absolute;
border-top: 1px solid #c4c4c4;
padding-top: 15px;
margin-bottom: 15px;
color: #808080;
font-size: 11px;
border-top-width: 0px;
}



.under p {
    padding-left: 20px;
    

}

.under a{
text-decoration: none;
color: #808080;
}

@media(max-height :910px){
    .under p {
        display: none;
    }

}